.banner{
	background-color: #333;
	height: 130px;
	margin: 0;
	padding: 0;


}
.banner-img{
	display: flex;
	justify-content: center;

}
.banner-img img{
	border-radius: 5px;
	width: 90%;
	height: 80px;
	padding-top: 10px;
}
.navi{
	display: flex;
 	align-items: flex-end;
 	margin: 10px;

}

#active,.navi >li:hover .navi >li>a{
	background-color: #fff;
  color:#000;
}
#active a{
	color: #000;
}
.navi-wrapper{
	height: 50px;
	display: flex;
 	align-items: flex-end;
}
.navi >li{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	height: 25px;
	padding:3px;

}
.navi > li> a{
	text-decoration: none;
	color:#fff;
	margin-left: 10px;
	
	width: 100px;

}
/*start navi-bar*/
.subnavi-wrapper{
	display: flex;
	font-family: sans-serif;
	margin-top: 10px;
}

.address, .action, .search, .search-icon{
	
	height: 30px;
	margin-left: 10px;
	border: 1px solid #ddd;
	color: #666;
}
.search{
	width: 250px;
	margin-right: 0px;
	padding:0px 10px;
}
.search-icon{
	margin-left: 0;
	/*transform: translateX(-1px);*/
	height: auto;
	
}
.login{
	display: flex;
	justify-content: flex-end;
    margin: 0;
    align-items: center;
    flex-grow: 1;
    padding-right: 20px;
}
.login-text a{
	margin-right: 10px;
	color:#333;
	text-decoration: none;
}
.bars-icon{
	width: 35px;

}
.apps{
	width: 60px;
}
.fa-mobile-alt{
	font-size: 0.8em;
	margin-right: 2px;
}
.bars-icon,.apps{
	height: 30px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 10px;
	border-radius: 2px;
	border: 1px solid #ddd;
}
.lang img{
	width: 20px;
	height: 20px;
}
.notice, .plus,.lang{
	width: 30px;
	height: 30px;
	background-color: #eee;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;

}
.lang{
	width: 30px;
	height: 30px;
	border-radius: 3px;

}

.input-group{
	    display: flex;
    height: max-content;

}
/*slideshow */

.mySlides{
	display: none;

}
.slideshow-container{
  background-color: #000;
  margin-top: 20px;
  

  
}
.slide-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin:0;

}
.mySlides img{
	width: 675px;
	
}
.text{
  padding:0;
  margin:0;
}
/* Slideshow container */


/* Caption text */
.caption{
  color: #f2f2f2;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 0px;
}

/* Number text (1/3 etc) */
.sub-cap{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
  top: 0;
   margin-bottom: 0px;
   margin-top: 0px;
}

/* The dots/bullets/indicators */
.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active{
  background-color: #717171;
}

/* Fading animation */
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px){
  .text {font-size: 11px}
}

/*start deal ưu đãi*/
.nav-menu2{
  display: flex;
  border:1px solid #eee;
  height: 50px;
}
.title{
  height: 100%;
  
}
.uu-dai{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.danh-muc, .noi-bat{
  margin-right: 5px;
  height: 30px;
  border: 1px solid #eee;

}
.danh-muc option, .noi-bat option{
  border: 1px solid #eee;
}
.avatar img{
  height: 50px;
  width: 70px;
}

.message{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 20px;
}

.dish{
  display: flex;
  background-color: rgba(217, 211, 210,0.4);
  flex-wrap: wrap;

}
.dish-wrapper{
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;

}
.dish-img{
  width: 227px;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dish-img img{
  height: 142px;
  width: 227px;
}
.dish-name{
  font-weight: bold;
  margin-bottom: 0px;
}
.dish-img > .dish-info, .dish-tag > span{
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  margin-bottom: 5px;
} 
.dish-address, .dish-tag p{
  font-size: 0.8em;
  color: #666;
}
.fa-tag{
  color:#f00;
  font-size: 0.8em;
  margin: 10px 0px 10px 5px ;
}
.dish-tag{
  margin-top: 5px;
  padding-bottom: 20px;
  margin-left: 0px;
}
.dish-tag p{
  margin-top: 0px;
  padding-left: 10px;
}
img.rate{
  height: 15px;
  width: 20px;
  padding-right: 3px;
}
/*start today Deal*/
.deliver-wrapper{
	
	display: flex;
	flex-direction: column;
	margin:10px 30px;

}
.nav-menu{
  display: flex;
  border:1px solid #eee;
  height: 50px;
  margin-top: 20px;
}
.title{
  height: 100%;
  
}
.avatar img{
  height: 50px;
  width: 70px;
}
.options{
  display: flex;
}
.options li{
  list-style: none;
}
.message{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 20px;
}
.options a{
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
.show-more{
  border: 1px solid #eee;
  height: 30px;
  border-radius: 5px
}

.list-category{
  display: none;
  padding: 0;
  position: absolute;
}

a.deal-active{
  color:#e0321b;
  border-bottom: 2px solid #e0321b;
}
.dish{
  display: flex;
  background-color: rgba(217, 211, 210,0.4);
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 10px;

}
.dish-wrapper{
  margin: 5px 3px;
  border-radius: 5px;
  background-color: #fff;

}
.dish-img{
  width: 227px;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}
.dish-img img{
  height: 142px;
  width: 227px;
}
.dish-name{
  font-weight: bold;
  margin-bottom: 0px;
}
.dish-address{
  font-size: 0.9em;
  color: #666;
}
.fa-tag{
  color:#f00;
  font-size: 0.8em;
  margin: 10px 5px;
}
.dish-tag{
  margin-top: 5px;
  padding-bottom: 20px;
}
img.rate{
  height: 15px;
  width: 20px;
  padding-right: 3px;
}
/*start discovery*/
.discovery-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 230px));
  background-color: rgba(217, 211, 210,0.4);
  padding-top: 20px;
  margin: 10px 30px;
  
 
}


.kham-pha{
  display: flex;
  flex-direction: column;
  grid-area: 1/1;
  width: 15vw;
  margin-left: 10px;
  background-color: #fff;
  position: sticky;
  top:0;
}
.kham-pha a{
  text-decoration: none;
  color:#666;
  height: 30px;
  padding: 8px 0px 0px 8px;
  display: flex;
}
.kham-pha a:hover{
  color: #d14a43;
  background-color: rgba(217, 186, 213,0.2);
}
.first{
  display: flex;
}
.first span{
  align-self: flex-end;
  margin-left: 5px;
}
.first img{
  height: 30px;
  width: 30px;
}
.kham-pha span{
  flex-grow: 1;
}
.kham-pha i{
  padding-right: 15px;
}
.first > span{
  font-weight: bold;
  font-size: 1.5em;
}
.x-nav{
  display: flex;
  height: 50px;
  background-color: #cccaca;
  grid-area: 1 /2 /span 1/span 5;
  position: sticky;
  top:0;
  z-index: 1;
}
.cover{
  width: 90px;
  height: 50px;
  background-color: #cccaca;
   display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.cover a{
  color:#555;
}
.cover:hover, .active{
  background-color: #fff;
  color: #f00;
  border-bottom: 1.5px solid #d14a43;
}
.cover:hover > a{
  color: #d14a43;
}
.x-nav a{
 text-decoration: none;
 
 
}
.main-dish{
  background-color: rgba(217, 211, 210,0.4);
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: center;
  grid-area: 1/2/ span 1/span 5;

}
.dish-collect{
  width: 226px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin:5px;

}
.ranking, .user{
  display: flex;
  
}
.circle, .circle img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1ca31e;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.dish-title{
  margin: 5px 10px;
}
.d-name, .user-name{
  font-weight: bold;
  
}
.addr,.d-name, .user-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  margin: 0;
}
.d-name:hover{
  text-decoration: underline;
}
 .user-like{
  overflow: hidden;
  width:200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #666;
  font-size: .8em;
  margin: 0;
}
.dish-photo{
  position: relative;
}
.dish-photo img{
  width: 226px;
  height: 141px;
  border-radius: 3px 3px 0px 0px;
 
}
.overlay{
  background-color: #888;
  height: 98%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top:0;

}
.dish-photo:hover .overlay{
  opacity: 1;
  background-color: rgba(0,0,0,0.3);
}
.overlay img{
  height: 50px;
  width: 50px;
  border-radius: 5px;

}
.ranking, .user{
  border-bottom: 1px solid #eee;
  padding: 5px 0px 5px 5px;
}
.overlay p{
  color: #fff;
  margin-top: none;
  padding-top: none;
}

.user-name, .user-like{
  margin: 5px 10px ;
}
.social{
  display: flex;
  color: #666;
  align-items: center;
  padding-left: 5px;
  margin: 5px;
}
.photo{
  flex-grow: 1;
  margin-left: 3px;
}
.hashtag{
  
  display: flex;
  height: 30px;
  width: 50px;
  background-color: #ddd;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  border-radius: 3px;

}
.hashtag i{
  margin-right: 5px;
  
}
.btn-show-more{
  background-color: #1c7fa3;
  border-radius: 3px;
  height: 40px;
  border: none;
  margin: 10px;
  display: block;
  color: #fff;
  width: 100%;
}

/*start foooter*/

.top-member{
  width: 100%;
  height: 70px;
  background-color: #fff;
  color:#db352a;
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin: 10px 30px;
}
.app-download{
  background-color: rgba(217, 211, 210,0.4);

}
.find-out{
  width: 100%;
}
.find-on-phone{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: bold;
  padding-top: 10px;
  flex-wrap: wrap;

}
.ana-wrapper{
  display: flex;
  

}
#sub-info{
  display: inline;
  
}
.analystic{
  align-items: center;
}
.btn-analy,.iphone{
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #eee;
  margin: 10px 20px ;
  border: 1px solid #ddd;
}
.phone{
  
}
.ios{
  display: flex;
  justify-content: center;

}
.ios a{
  text-decoration: none;
  color:#555;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.window{
    transform: translate(-8px,-18px);
    width: 260px;
    height: 369px;
}
.dia-diem,.nguoi-dung,.binh-luan,.check-in,.hinh-anh,.suu-tap{
  margin: 10px 20px ;
  border-bottom: 1px solid #ccc;
  width: 200px;

}
.dia-diem span, .nguoi-dung span,.binh-luan span,.check-in span,.hinh-anh span,.suu-tap span{
  font-weight: bold;
}
.dia-diem p,.nguoi-dung p,.binh-luan p,.check-in p,.hinh-anh p,.suu-tap p{
  margin:10px 0px;
  color: #666;
  font-size: 0.9em;
}
.phone-wrapper{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
}
.link-access{
  display: flex;
  margin: 0px 30px;

  }
.link-title{
  color:#777;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 30px 25px 20px 0px;
  padding-bottom: 5px;
}
.link-group{
  margin: 0px 25px 20px 0px;
}

.link-group a{
  text-decoration: none;
  color:#48a8d9;
  display: block;
  margin: 10px 0px;
  font-size: 0.9em;

}
.link-group a:hover{
  text-decoration: underline;
  color: #000;
}
.link-group img{
  width: 90px;
  height: 50px;
}
.copy-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(217, 211, 210,0.4);
}
.copy-right p{
  margin:5px;
  color: #777;
  font-size: 0.9em;
}
.permission a{
  display: flex;
  flex-direction: column;
}
.link-group span{
  font-size: 0.8em;
  color: #666;
}